<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item brand-link gradient style3" href="{{url_for('index')}}">
            <img src="{{url_for('static', filename='img/movie-ticket-100 .png')}}">
            Movie Box
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{url_for('index')}}" class="navbar-item">
                Home
            </a>
            <a href="{{url_for('trending')}}" class="navbar-item">
                Trending
            </a>
            <a href="{{url_for('popular_movie')}}" class="navbar-item">
                Movie
            </a>

            <a href="{{url_for('popular_tv')}}" class="navbar-item">
                Tv Shows
            </a>
            
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>
                
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Login
                    </a>
                    <a class="navbar-item">
                        Register
                    </a>
                    <a href="{{url_for('about')}}" class="navbar-item">
                        About
                    </a>
                    <hr class="navbar-divider">
                    <p class="navbar-item">
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/default-sameer/movie-box/issues"
                            data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true"
                            aria-label="Issue default-sameer/movie-box on GitHub">Issue</a>
                    </p>
                </div>
            </div>
            {% if msg %}
            <a class="navbar-item">
                {{msg}}
            </a>
            {% endif %}
            
        </div>

        <div class="navbar-end">
            <p class="navbar-item">
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/default-sameer/movie-box"
                    data-color-scheme="no-preference: light; light: light; dark: light;" data-show-count="true"
                    aria-label="Star default-sameer/movie-box on GitHub">Star</a>
            </p>
        </div>
    </div>
</nav>