{% extends "layout.html" %}
{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="text-center mb-10">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Settings</h1>
        </div>
        <div class="flex flex-wrap lg:w-3/5 sm:mx-auto sm:mb-2 -mx-2">
            {% for user in users %}
                <div class="p-2 sm:w-1/2 w-full">
                    {% if user.email_confirmed %}
                    <div class="bg-gray-100 rounded flex justify-between p-4 h-full items-center">
                        <a href="#">
                            <span class="title-font font-medium">{{user.username}}</span>
                        </a>
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
                            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                            <path d="M22 4L12 14.01l-3-3"></path>
                        </svg>
                    </div>
                    {% else %}
                    <div class="bg-gray-100 rounded flex justify-start p-4 h-full items-center">
                            <span class="title-font font-medium">{{user.username}}</span>
                    </div>
                    {% endif %}
                </div>   
            {% endfor %}
    </div>
</section>
{% endblock %}