{% extends "layout.html" %}
{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<header class="bg-blend-color-dodge dark:bg-gray-800">
    <div class="container px-6 py-11 mx-auto">
        <div class="items-center lg:flex">
            <div class="w-full lg:w-1/2">
                <div class="lg:max-w-lg">
                    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white lg:text-3xl">Search<span
                            class="text-indigo-500"> Movies</span> or<span class="text-purple-500"> Tv Show</span> </h1>

                    <form method="POST">
                        <div class="control mt-2">
                            <label class="radio">
                                <input type="radio" name="options" value="movie" required>
                                Movie
                            </label>
                            <label class="radio">
                                <input type="radio" name="options" value="tv">
                                Tv Show
                            </label>
                        </div>

                        <div class="flex flex-col mt-8 space-y-3 lg:space-y-0 lg:flex-row">
                            <input id="text" type="text"
                                class="px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
                                name='search'
                                placeholder="Search"
                                required
                                >

                            <button
                                class="w-full px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-500 rounded-lg lg:w-auto lg:mx-4 hover:bg-indigo-400 focus:outline-none focus:bg-indigo-400"
                                type="submit" value="submit">
                                Search
                            </button>
                        </div>
                    </form>
                    <p>{% include 'includes/_messages.html' %}</p>
                </div>
            </div>

            <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
                <img class="w-full h-full max-w-md" src="{{url_for('static', filename='img/search.svg')}}" alt="Search">
            </div>
        </div>
    </div>
</header>
{% include 'includes/footer.html' %}
{% endblock %}