{% extends "layout.html" %}
{% block social %}
<meta property="og:image" content="{{url_for('static', filename='img/seo/og-image.jpg')}}">
<meta property="og:image:height" content="1034">
<meta property="og:image:width" content="1974">
<meta property="og:title" content="Movie Box | Search">
<meta property="og:description" content="Trending Movies | Movie Box">
<meta property="og:url" content="https://moviebox-tmdb.herokuapp.com">
{% endblock %}
{% block css %}
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{% endblock %}
{% block body %}

<section class="text-gray-600 body-font">
    <div class="container px-10 py-5 mx-auto">
        <nav class="breadcrumb is-centered pt-3" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{url_for('index')}}">Search</a></li>
                {% if movies %}
                <li class="is-active"><a aria-current="page">Movie</a></li>
                {% elif tvs %}
                <li class="is-active"><a aria-current="page">Tv</a></li>
                {% else %}
                <li class="is-active"><a aria-current="page">No Result</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="flex flex-wrap -m-4">
            {% if movies %}
            {% for movie in movies %}
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="max-w-xs mx-auto overflow-hidden bg-blend-soft-light rounded-lg shadow-lg dark:bg-gray-800">
                    <a href="{{url_for('movie_detail', movie_id=movie['id'], movie_name=movie['title'])}}">
                    <img class="object-cover w-full h-70" src="https://image.tmdb.org/t/p/w1280{{movie['poster_path']}}"
                        alt="poster">
                    </a>
                    <!-- Bookmark -->
                    <div class="-mt-10 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-black-800">
                        <div class="flex items-center justify-end px-3 py-2 bg-gray-200 dark:bg-gray-700">
                    
                            {% if current_user.is_authenticated %}
                            <form
                                action="{{url_for('bookmark', media_id=movie['id'], media_type='movie', media_name=movie['title'], user_id=current_user.id )}}"
                                method="POST">
                                {{ form.hidden_tag() }}
                                <button
                                    class="px-2 py-1 bg-indigo-400 rounded hover:bg-blue-400 dark:hover:bg-white-600 focus:bg-indigo-700 dark:focus:bg-white-600 focus:outline-none">
                                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15px" height="17px">
                                        <path
                                            d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z" />
                                    </svg>
                                </button>
                            </form>
                            {% else %}
                            <a href="{{url_for('login')}}">
                                <p
                                    class="px-2 py-1 bg-indigo-400 rounded hover:bg-blue-400 dark:hover:bg-white-600 focus:bg-indigo-700 dark:focus:bg-white-600 focus:outline-none">
                                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15px" height="17px">
                                        <path
                                            d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z" />
                                    </svg>
                                </p>
                            </a>
                            {% endif %}
                    
                            </form>
                        </div>
                    </div>
                    <!-- End Bookmark -->

                    <div class="p-1">
                        <div class="py-1 text-center text-sm flex justify-between p-2">
                            <a href="{{url_for('movie_detail', movie_id=movie['id'], movie_name=movie['title'])}}"
                                class="block text-1xl font-small text-gray-800 dark:text-white">{{movie['title']}}</a>
                            <span class="text-sm text-gray-700 dark:text-gray-200"><span
                                    class="tag is-link">{{movie['vote_average']}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            {% for tv in tvs %}
            <div class="lg:w-1/3 sm:w-1/2 p-4">
                <div class="max-w-xs mx-auto overflow-hidden bg-blend-soft-light rounded-lg shadow-lg dark:bg-gray-800">
                    <a href="{{url_for('tv_detail', tv_id=tv['id'], tv_name=tv['name'])}}">
                    <img class="object-cover w-full h-70" src="https://image.tmdb.org/t/p/w1280{{tv['poster_path']}}" alt="poster">
                    </a>
                    <!-- Bookmark -->
                    <div class="-mt-10 overflow-hidden bg-white rounded-lg shadow-lg dark:bg-black-800">
                        <div class="flex items-center justify-end px-3 py-2 bg-gray-200 dark:bg-gray-700">
                    
                            {% if current_user.is_authenticated %}
                            <form
                                action="{{url_for('bookmark', media_id=tv['id'], media_type='tv', media_name=tv['name'], user_id=current_user.id )}}"
                                method="POST">
                                {{ form.hidden_tag() }}
                                <button
                                    class="px-2 py-1 bg-indigo-400 rounded hover:bg-blue-400 dark:hover:bg-white-600 focus:bg-indigo-700 dark:focus:bg-white-600 focus:outline-none">
                                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15px" height="17px">
                                        <path
                                            d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z" />
                                    </svg>
                                </button>
                            </form>
                            {% else %}
                            <a href="{{url_for('login')}}">
                                <p
                                    class="px-2 py-1 bg-indigo-400 rounded hover:bg-blue-400 dark:hover:bg-white-600 focus:bg-indigo-700 dark:focus:bg-white-600 focus:outline-none">
                                    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15px" height="17px">
                                        <path
                                            d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z" />
                                    </svg>
                                </p>
                            </a>
                            {% endif %}
                    
                            </form>
                        </div>
                    </div>
                    <!-- End Bookmark -->
                    <div class="p-1">
                        <div class="py-1 text-center text-sm flex justify-between p-2">
                            <a href="{{url_for('tv_detail', tv_id=tv['id'], tv_name=tv['name'])}}"
                                class="block text-1xl font-small text-gray-800 dark:text-white">{{tv['name']}}</a>
                            <span class="text-sm text-gray-700 dark:text-gray-200"><span
                                    class="tag is-link">{{tv['vote_average']}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}